.document {
  cursor: pointer;
  transition: 0.6s;
  &_title {
    .ant-card-meta-title {
      transition: 0.6s;
      font-weight: 900;

      &:hover {
        color: #404272;
      }
    }
    .ant-card-meta-description{
      color:gray;
    }
  }
  &_icon {
    display: flex;
    justify-content: center;
    span {
      width: 33.33%;
      display: inline-block;
      text-align: center;
      color: #989898;
    }
  }
  &:hover {
    box-shadow: 0px 3px 6px 1px #98989879;
  }
  .ant-card-cover{
    max-width: 258.4px !important;
    max-height: 163.54px !important;
    width: 100% !important;
    height: 100% !important;
    img{
      width: 100%;
      height: 163.54px;
      object-fit:fill;
    }
  }
}
