@base-color: #3ea557;
.vz-popover-scroll,
.vz-scroll-wishlist {
  width: 100% !important;
  margin: 0 !important;
  .gx-sub-popover {
    margin: 0 !important;
    li {
      padding: 0;
    }
  }
}
.vz-popover-scroll {
  h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 40px;
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 0.1px;
    text-align: left;
    text-overflow: ellipsis;
    margin: 0px;
    overflow: hidden;
  }
}
.vz-popover-scroll > div:nth-child(1),
.vz-scroll-wishlist > div:nth-child(1) {
  overflow: hidden !important;
  overflow-y: scroll !important;
}
.base-color {
  background: @base-color !important;
}
.gx-custom-logo {
  padding: 0 !important;
  width: 100%;
  -webkit-box-shadow: 0 0 0 0 #fff !important;
  box-shadow: 0 0 0 0 #fff !important;
}
.header {
  height: 80px !important;
}
.header-icon {
  width: 23px;
  height: 23px;
}
.gx-layout-sider-header {
  .icon-menu-mobile {
    i {
      line-height: 0;
    }
  }
  // logo
  .gx-site-logo {
    width: 140px;
  }
  // search bar
  .gx-search-bar {
    width: 50%;
    margin-left: 20px;
    .ant-btn-primary:not([disabled]):not(.disabled):active,
    .ant-btn-primary:not([disabled]):not(.disabled).active {
      background-color: #fff !important;
      border-color: #ccc !important;
    }
    .ant-input:focus,
    .ant-input:focus-within,
    .ant-input:hover {
      border-color: #ccc !important;
    }
    .ant-input-group-addon {
      .ant-btn-primary {
        background-color: #fff !important;
        border-color: #ccc !important;
        border-left: none !important;
        font-size: 24px;
        color: #404272 !important;
        box-shadow: none !important;
      }
    }
  }
  .gx-menu-right {
    .ant-menu {
      position: absolute;
      .ant-menu-submenu > .ant-menu.ant-menu-sub .ant-menu-item {
        padding-left: 10px !important;
      }
      .icon-user {
        display: inline-block;
        width: 26px;
        height: 26px;
        background-color: #ffa715;
        border-radius: 50%;
        line-height: 26px;
        margin-right: 10px;
        text-align: center;
        i {
          margin: auto;
          color: #ececec;
        }
      }
    }
  }
  .ant-dropdown-menu {
    border-radius: 0;
  }
}

.cart-tooltip {
  .ant-tooltip-content {
    width: 350px;
    .ant-tooltip-arrow {
      &::before {
        background: white;
      }
    }
    .ant-tooltip-inner {
      background: white;
      position: relative;
    }
  }
}
// @import url('https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap');

* {
  box-sizing: border-box;
}

// body {
//   text-align: center;
//   display: flex;
//   height: 100vh;
//   width: 100%;
//   justify-content: center;
//   align-items: center;
//   padding: 0 20px;
//   background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/debut_light.png");
// }

.nav {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  //background-color: #fff;
  padding: 0 20px;
  border-radius: 40px;
  //box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
}
.nav-col-1 {
  text-align: center;
}
.nav-col-2 {
  display: flex;
  width: fit-content;
}
.nav-item {
  color: #83818c;
  padding: 20px;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 6px;
  z-index: 1;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: 0.3s;
  }
}

.nav-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}

.nav-item:not(.is-active):hover {
  color: #333;
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: 0.4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

@media (max-width: 580px) {
  .nav {
    overflow: auto;
  }
}
