.header {
  background-color: #192433;
  &_brand {
    line-height: 70px;
  }
  &_nav {
    .nav {
      list-style-type: none;

      &_item {
        display: inline-block;
        padding: 15px 20px;

        transition: 0.6s;
        cursor: pointer;
        &:hover a{
          color: #19f5ff;
        }
        &.active a{
          color: #19f5ff;
        }
        a {
          font-size: 18px;
          line-height: 38px;
          font-weight: 600;
          color: white;
        }
      }
    }
    .right {
      display: flex !important;
      align-items: center;
      justify-content: flex-end;
    }
  }
  &_btn {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}
